.containerMargin {
    margin-top: 20px;
}

.btnAction {
    border-radius: 15px;
    background-color: #343A40;
    border: #343A40;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.card1 {
    background: #343A40;
    color: lavender;
    position:relative;
    height:auto;
    width:auto;
    padding-left: 50px;
    margin-top: 5px;
  }

.modalHeaderFooter {
    background: #343A40;
    color: lavender;
}

.modalBody {
    background: darkgray;
}